bandit>=1<2
chrono>=1<2
flake8>=3.8<4
flake8-bugbear>=19<21
flake8-builtins>=1<2
flake8-comprehensions>=3<4
flake8-mutable>=1<2
flake8-print>=3<4
flake8-tuple>=0.4<1
hypothesis==4.36.2
mypy==0.720.0
pytest==5.3.5
pytest-benchmark>=3<4
pytest-cov>=2<3
isort==5.2.0
black==19.10b0; python_version >= '3.6'
snapshottest>=0.5<1
pytest-mock>=3<4
ujson>=3<4
sphinx==2.4.3
sphinx-rtd-theme==0.4.3
sphinx_autodoc_typehints==1.10.3
m2r==0.2.1
