bandit
chrono
flake8>=3.8
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-mutable
flake8-print
flake8-tuple
hypothesis==4.36.2
mypy==0.720.0
pytest==5.3.5
pytest-benchmark
pytest-cov
isort==4.3.21
black==19.10b0; python_version >= '3.6'
snapshottest
pytest-mock
ujson
sphinx==2.4.3
sphinx-rtd-theme==0.4.3
sphinx_autodoc_typehints==1.10.3
m2r==0.2.1
